html, body{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.overlayCanvas{
  opacity: 0.5;
}

.panel{
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 400px;
}

button{
  display: inline;
  margin: 20px;
  width: 100px;
  border: 2px solid white;
  border-radius: 12px;
  height: 39px;
  color: white;
  font-size: 16px;
}

.clickable{
  background-color: #1FBAD6;
}

.unclickable{
  background-color: #e9e9e9;
}

.clickable:hover{
  cursor: pointer;
}

.loading{
  position: absolute;
  width: 400px;
  height: 40px;
  font-size: 36px;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -200px;
  text-align: center;
  color: black;
  background-color: white;
  opacity: 0.7;
}

.bg{
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
}

.show{
  display: block;
}

.gone{
  display: none;
}

.date{
  margin: 10px 20px;
  font-size: 30px;
  color: #666;
}

.clock{
  margin: 10px 20px;
  font-size: 50px;
  color: #555;
}